body {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.3em;
	line-height: 2em;
}

.content {
	max-width: 800px;
	margin-top: 0px;
}

.header {
	text-align: center;
	padding-bottom: 0.5em;
	border-bottom: #555 solid 1px;
	margin-bottom: 1em;
}

h1 {
	color: #399CD3;
	line-height: 1.6em;
}

.notes {
	margin-top: 2.5em;
	border-top: #555 solid 1px;
	padding-top: 2em;
	font-size: .5em;
	line-height: 1.5em;
	color: #555;
}

div#input {
	text-align: center;
}

input {
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em;
	width: 7.5em;
	color: #399CD3;
}

a, a:hover {
	color: black;
	text-decoration: underline;
}

.code {
	font-size: 0.7em;
	color: #399CD3;
	background: #eee;
}

#tips {
	display: none;
	padding: 10px;
} #tips ul {
	margin: 0em !important;
	list-style-type: square;
}

span.credit {
	opacity: 0.3;
}

.color-preview {
	display: inline-block;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	border: 1px solid white;
	margin: -0.5em 0.5em;
} .color-preview.active {
}

@media screen and (max-width: 767px) {
	body {
		font-size: 1.6em;
		line-height: 1.8em;
	}

	.content {
		margin-top: 0px;
	}
}
